NAVDataAccess/Service References/WcfMongoService/MongoRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MongoRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52801/MongoRequest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52801/MongoRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequest_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IRequest_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_QueryXML_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryXML" />
  </wsdl:message>
  <wsdl:message name="IRequest_QueryXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_InsertOne_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOne" />
  </wsdl:message>
  <wsdl:message name="IRequest_InsertOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRequest_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequest">
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/Query" message="tns:IRequest_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/QueryResponse" message="tns:IRequest_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/QueryXML" message="tns:IRequest_QueryXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/QueryXMLResponse" message="tns:IRequest_QueryXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/InsertOne" message="tns:IRequest_InsertOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/InsertOneResponse" message="tns:IRequest_InsertOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/Update" message="tns:IRequest_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/UpdateResponse" message="tns:IRequest_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequest" type="tns:IRequest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IRequest/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryXML">
      <soap:operation soapAction="http://tempuri.org/IRequest/QueryXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOne">
      <soap:operation soapAction="http://tempuri.org/IRequest/InsertOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IRequest/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MongoRequest">
    <wsdl:port name="BasicHttpBinding_IRequest" binding="tns:BasicHttpBinding_IRequest">
      <soap:address location="http://localhost:52801/MongoRequest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>